<form action="/upload?query-string=yes" method="POST" target="_blank">
  <legend>NORMAL POST</legend>
  <input name="file" type="file"/>
  <input type="submit">
</form>

<form action="/upload?query-string=yes" method="POST" enctype="multipart/form-data" target="_blank">
  <legend>MULTIPART POST</legend>
  <input name="file" type="file"/>
  <input type="submit">
</form>

<form action="/upload?query-string=yes">
  <legend>XMLHTTPREQUEST 2 POST</legend>
  <input name="file" type="file"/>
  <input type="button" onclick="upload()" value="Submit">
</form>


<form action="/upload?query-string=yes">
  <legend>XMLHTTPREQUEST POST</legend>
  <input name="file" type="file"/>
  <input type="button" onclick="upload2()" value="Submit">
</form>

<script>
  window.upload = function(){
    var form = document.querySelectorAll('form')[2];
    var file = form.querySelector('input');
    var xhr = new XMLHttpRequest();
    var upload = xhr.upload;

    upload.addEventListener("progress", function (ev) {
      if (!ev.lengthComputable) return
      console.log( Math.round(ev.loaded / ev.total * 100) + "%" )
    }, false);

    upload.addEventListener("load", function (ev) {
      console.log( 'Upload complete!')
    }, false);

    upload.addEventListener("error", function (ev) {console.log(ev);}, false);
    xhr.open( "POST", form.action );
    xhr.setRequestHeader('Transfer-Encoding','chunked')
    xhr.send(file.files[0]);
  }

  window.upload2 = function(){
    var form = document.querySelectorAll('form')[3];
    var file = form.querySelector('input');
    var xhr = new XMLHttpRequest();

    var fr = new FileReader();
    fr.onload = function(e){
      xhr.open( "POST", form.action );
      xhr.send(e.target.result);
    };
    fr.readAsBinaryString(file.files[0]);

  }
</script>